In [2]:
import pandas as pd
import numpy as np

## Read data

In [3]:
df = pd.read_csv('history.csv')

In [4]:
df

,id,logins_current_month,country,traffic_type,platform,registration_date,ads_shown_current_month,ads_revenue_current_month,ads_shown_current_day,ads_revenue_current_day,...,offers,currency_1,currency_2,currency_3,currency_4,currency_5,currency_6,currency_7,current_avg_ping,current_month
0,118915,5,86,paid,Android,2024-07-27,28,0.209954,1,0.006842,...,0,290,620,0,0,0,0,0,0.372532,2024-07
1,104993,2,86,paid,Android,2024-07-22,3,0.012273,0,0.000000,...,0,0,0,0,0,0,0,0,0.314208,2024-07
2,62389,2,30,paid,Android,2024-07-04,12,0.018450,0,0.000000,...,0,0,0,0,0,0,0,0,0.000000,2024-07
3,133158,19,59,paid,iOS,2024-07-03,74,3.645990,0,0.000000,...,0,4634,20,510,0,0,0,0,0.112736,2024-07
4,47287,24,193,organic,Android,2024-01-05,0,0.000000,0,0.000000,...,0,23271,0,560,0,0,0,0,0.274348,2024-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224133,117416,2,109,paid,Android,2025-04-10,1,0.006917,0,0.000000,...,0,0,0,0,0,0,0,0,0.183001,2025-04
224134,9449,6,19,paid,Android,2025-04-19,20,0.039879,0,0.000000,...,0,0,0,0,0,0,0,0,0.321552,2025-04
224135,3224,1,7,paid,Android,2025-04-27,2,0.000000,0,0.000000,...,0,0,0,0,0,0,0,0,0.553327,2025-04
224136,13764,8,67,paid,Android,2024-04-25,1,0.010633,0,0.000000,...,7,24264,5,70,0,0,9400,950,0.206307,2025-04
224137,54675,5,77,organic,Android,2024-11-13,63,0.088575,0,0.000000,...,0,0,0,0,0,0,0,0,0.226707,2025-04

## Create submission

In [5]:
df['is_active'] = 0
df['next_month_revenue'] = 0.0

In [6]:
df_sorted = df.sort_values('id', ascending=True)

In [7]:
df_unique = df_sorted.drop_duplicates(subset='id', keep='first')
submission = df_unique[['id', 'next_month_revenue', 'is_active']]

In [8]:
submission

            id  next_month_revenue  is_active
14996        1                 0.0          0
60701        2                 0.0          0
111702       3                 0.0          0
109052       4                 0.0          0
122443       5                 0.0          0
...        ...                 ...        ...
137223  133670                 0.0          0
146553  133671                 0.0          0
113078  133672                 0.0          0
52746   133673                 0.0          0
131608  133674                 0.0          0

[133674 rows x 3 columns]

## Save submission

In [8]:
submission.to_csv('submission.csv', index=False)